.mb10 {margin-bottom: 10px;}
.mb20 {margin-bottom: 20px;}
.mb30 {margin-bottom: 30px;}
.mb40 {margin-bottom: 40px;}
.mb50 {margin-bottom: 50px;}
.mb60 {margin-bottom: 60px;}
.mb70 {margin-bottom: 70px;}
.mb80 {margin-bottom: 80px;}
.mb90 {margin-bottom: 90px;}
.mb100 {margin-bottom: 100px;}

.mt10 {margin-top: 10px;}
.mt20 {margin-top: 20px;}
.mt30 {margin-top: 30px;}
.mt40 {margin-top: 40px;}
.mt50 {margin-top: 50px;}
.mt60 {margin-top: 60px;}
.mt70 {margin-top: 70px;}
.mt80 {margin-top: 80px;}
.mt90 {margin-top: 90px;}
.mt100 {margin-top: 100px;}

.no-margin {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.no-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.float-flash {
	position: fixed;
	top: 10%;
	left: 0;
	z-index: 20;
}

.center-center {
	@extend .d-flex, .align-items-center, .justify-content-center;
}

.section-bg {
	background-color: $gray-bg;
}
	
.ck-content {
    min-height: 330px;
}

.bg-default {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.selo-15 {
	position: absolute;
	top: -15px;
	right: -15px;
	z-index: 3;

	@media(min-width: 992px) {
		position: absolute;
		top: -95px;
		right: -25px;
		z-index: 3;
	}

	img {
		width: 80px !important;

		@media(min-width: 992px) {
			width: 140px !important;
		}
	}
}

.owl-carousel {

	.owl-nav {
		@extend .d-lg-flex, .justify-content-between;
		
		.owl-prev,
		.owl-next {

			span {
				font-size: 60px;
			}
		}
	}
}