// Colors

$gray-bg: #f6f6f6;
$gray-lt: #a8a8a8;
$gray-md: #707070;
$gray-dk: #2D2D2D;
$orange: #F17C16;
$red: #DC2424;
$purple-dk: #9B0973;
$purple-lt: #B6298F;
$green: #74AA46;
$blue-lt: #4267b2;
$blue-dk: #29487d;
$instagram: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);

$shadow: 0 3px 6px rgba(0,0,0,.16);

$predominant-color: $purple-lt;
$first-title-color: $gray-lt;
$second-title-color: $predominant-color;
$text-color: $gray-md;
$value-color: $green;
$sale-color: $green;

// Colors Trial

$yellow_trial: #FFCB00;
$gradient_green: radial-gradient(#89E28C, #48B74B);