.menu-site {
	@extend .list-unstyled, .text-center, .d-flex, .flex-column, .flex-lg-row;

	background-color: $predominant-color;
	border-radius: 0 0 50px 50px;
	height: 90%;
	width: 100%;
	padding: 80px 30px 30px 30px;

	@media(min-width: 992px) {
		margin-bottom: 0;
		padding: 0;
		height: unset;
		width: unset;
		border-radius: 0;
		background-color: transparent;
	}
	
	&-item {
		margin-bottom: 27px;

		&:last-child {
			margin-bottom: 0;
			margin-right: 0;
		}

		@media(min-width: 992px) {
			margin-right: 30px;
			margin-bottom: 0;
		}

		@media(min-width: 1200px) {
			margin-right: 60px;
		}

		&-link {
			@extend .montserratRegular;

			color: #fff;
			font-size: 20px;

			@media(min-width: 992px) {
				font-size: 18px;
				text-transform: uppercase;
			}

			@media(min-width: 1200px) {
				font-size: 20px;
			}

			&:hover,
			&.active {
				color: $yellow;
			}
		}
	}
}