.section-trial {
	background-image: $gradient_green;
	position: relative;
	z-index: 1;
	min-height: 100vh;
	padding: 60px 0;

	.image-trial {
		max-width: 160px;
		width: 100%;
		margin-bottom: 20px;

		@include bounceIn(
			$duration: 1s,
			$count: 'infinite',
			$delay: .2s,
			$function: ease, 
			$fill: both
		);

		@media(min-width: 576px) {
			max-width: 300px;
			margin-bottom: 30px;
		}

		@media(min-width: 992px) {
			margin-bottom: 0;
			max-width: 400px;
		}
	}

	.box-title-trial {
		margin-bottom: 50px;

		.title-trial,
		.subtitle-trial {
			margin-bottom: 0;
		}

		.title-trial {
			@extend .gothamBold;

			font-size: 30px;
			color: $yellow_trial;

			@media(min-width: 576px) {
				font-size: 40px;
			}

			@media(min-height: 992px) {
				font-size: 70px;
			}
		}

		.subtitle-trial {
			@extend .gothamBook;

			font-size: 20px;
			color: #fff;

			@media(min-width: 576px) {
				font-size: 30px;
			}

			@media(min-height: 992px) {
				font-size: 50px;
			}
		}
	}

	.btn-trial {
		@extend .gothamBold;

		border-radius: 50px;
		position: relative;
		display: inline-block;
		transition: 0.5s ease;
		color: #fff;
		padding: 10px 40px;
		font-size: 25px;
		border: none;
		max-width: 450px;
		margin-bottom: 20px;

		@media(min-width: 576px) {
			margin-bottom: 30px;
		}

		@media(min-width: 992px) {
			padding: 15px 120px;
			font-size: 30px;
			margin-bottom: 50px;
		}

		&.one {
			@include bounceIn(
				$duration: 1s,
				$count: 'infinite',
				$delay: .3s,
				$function: ease, 
				$fill: both
			);
		}

		&.two {
			@include bounceIn(
				$duration: 1s,
				$count: 'infinite',
				$delay: .4s,
				$function: ease, 
				$fill: both
			);
		}

		&.three {
			@include bounceIn(
				$duration: 1s,
				$count: 'infinite',
				$delay: .5s,
				$function: ease, 
				$fill: both
			);
		}

		&:hover {
			color: #fff;

			&:before {
				transition: 0.5s ease;
				transform: translateX(5%) translateY(5%);
			}
		}

		&:before {
			content: "";
			border-radius: 50px;
			padding: 0 120px;
			position: absolute;
			top: 10px;
			left: 10px;
			width: 100%;
			height: 100%;
			display: block;
			z-index: -1;
			transition: 0.5s ease;
		}

		&.purple {
			background-color: $purple-lt;

			&:before {
				background-color: $purple-dk;
			}
		}
	}

	.develop-link {
    	margin-top: 50px;
    	display: inline-block;

		img {
			width: 160px;
		}
	}
}
