<!DOCTYPE html>
<html>
	@include('pages.layouts.blocks._head')
	<body>
		
		<div class="content">
			@yield('content')
		</div>
		
		@include('pages.layouts.blocks._footer')
		@include('pages.layouts.blocks._scripts')
	</body>
</html>